
/* ------------ HERO (VIDEO) SECTION */


.registerForm {
	padding-top: 25px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-left: 30px;
	background: #545454;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	color: rgba(255,255,255,1.00);
	position: relative;
	border-top: 3px #fff solid;
    border-bottom: 3px #fff solid;
    text-align: center;
    letter-spacing: 2.5px;

}
.registerForm .formOverlay {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center;
	color: #323232; background: white; padding: 30px; z-index: 10;
}
.heroSection .registerForm {
	margin-left: -30px;
}
.formOverlay .formCountdown {
	position: absolute; width: 80%; top:50%; left:50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: -webkit-translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.formOverlay .formCountdown .spinner {
	font-size: 11em; opacity: 0.1; position: absolute; top: 0px;
	left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: -webkit-translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.formOverlay .formCountdown h1 {
	font-size: 2.5em; position: relative; z-index: 2;
}
.formOverlay .formCountdown p {
	font-size: 1.5em;
	margin-bottom: 15px;
	position: relative; z-index: 2;
}
.formOverlay .formCountdown .countdown {
	margin: auto;
    font-size: 2.5em;
    background: #c70000;
    color: white;
    padding: 5px 15px;
	width:120px;
    border-radius: 3px;
	position: relative; z-index: 2;
	letter-spacing: 0px;
}
@media screen and (max-width: 991px) {
	.whiteBorderWrap {
		height: auto;
	}
	.heroSection .registerForm, .registerForm {
		height: auto;
	}
	.heroSection .registerForm {
		margin-left: 0px;
	}
}
.registerForm h1 {
	font-size: 1.75em;
	text-align: center;
	margin-bottom: 15px;
	color: #323232;
}
.registerForm .form-control {
	height: 40px;
	border-radius: 3px;
	box-shadow: none;
	border-color: #ECECEC;
}
@media screen and (max-width: 767px) {
	.registerForm {
		padding: 15px;
	}
	.registerForm .form-control {
		height: 30px;
	}
}
.registerForm .form-control:focus {
	border-color: #323232;
	background-color: #fffaec;
}
.registerForm .form-group {
	margin-bottom: 15px;
}

.registerForm .form-group:last-child {
	margin-bottom: 0px;
}
.registerForm .btn {
	height: 50px;
	width: 100%;
	background: #C70000;
	color: white;
	font-family: "Catamaran", sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	border-color: #E90000;
}
.registerForm .btn:hover {
	background-color: #E10000;
}
@media screen and (min-width:992px) and (max-width:1199px){
	.whiteBorderWrap {
		height: 350px;
	}
	.registerForm {
		padding-top: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		background-color: #FFFFFF;
		color: rgba(255,255,255,1.00);
	}
	.heroSection .registerForm {
		margin-left: -30px;
		height: 350px;
	}
	.registerForm .form-control {
		height: 30px;
	}
}

.registerForm.registerFormHome {
 min-height: 450px;	
}
.registerForm.registerFormHome form {
	position: absolute; top:50%; left: 50%;
	width: 80%; z-index: 0;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: -webkit-translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.registerForm.registerFormHome form h1 {
	font-size: 2.5em;
}

.registerForm.registerFormHome form .form-control {
	font-size: 1.5em;
    height: 50px;
}
/* HERO (VIDEO) SECTION ------------ */

/* ------------ STEPS SECTION */



/* STEPS SECTION ------------ */

/* ------------ FEEDBACK SECTION */

